.logo{
    margin: 30px;
    margin-left: 80px;
}

.logo__box--img{
    width: 80px;
    border-radius: 30px;

}

.logo__box{
    display: flex;
    align-items: center;
    
}

h1{
    padding-left: 10px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}